default: &default
  adapter: postgresql
  encoding: unicode
  host: <%= ENV['DB_HOST'] %>
  username: <%= ENV['DB_USER'] %>
  password: <%= ENV['DB_PASSWORD'] %>
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: reminder-schedule_development

test:
  <<: *default
  database: reminder-schedule_test

production:
  <<: *default
  database: reminder-schedule_production
  username: reminder-schedule
  password: <%= ENV['REMINDER-SCHEDULE_DATABASE_PASSWORD'] %>
