<nav class="navbar navbar-expand-lg bg-dark" role="navigation">
  <a class="navbar-brand text-white" href="#">Schedule Reminder</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item"><%= link_to 'Home', root_path, class: "nav-link text-white" unless home_controller? %></li>
      <% if user_signed_in? %>
        <li class="nav-item"><%= link_to 'Logout', destroy_user_session_path, class: "nav-link text-white", method: :delete %></li>
      <% else %>
        <li class="nav-item"><%= link_to 'Login', new_user_session_path, class: "nav-link text-white" %></li>
      <% end %>
    </ul>
  </div>
</nav>
